interactions:
- request:
    body: '{"template@odata.bind": "https://graph.microsoft.com/v1.0/teamsTemplates(''standard'')",
      "displayName": "test_create_team", "description": "Description test_create_team",
      "members": [{"@odata.type": "#microsoft.graph.aadUserConversationMember", "roles":
      ["owner"], "user@odata.bind": "https://graph.microsoft.com/v1.0/users(''XXXX'')"}]}'
    headers:
      Authorization:
      - XXXXXX
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/teams
  response:
    body:
      string: ''
    headers:
      Content-Location:
      - /teams('8c5416d2-e4da-4f06-9849-1501363b3115')
      Location:
      - /teams('8c5416d2-e4da-4f06-9849-1501363b3115')/operations('47671a9c-3cad-4b8a-bea3-553c6c8d94b1')
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"North Europe","Slice":"E","Ring":"4","ScaleUnit":"000","RoleInstance":"DU6PEPF00002DA7"}}'
    status:
      code: 202
      message: Accepted
- request:
    body: '{}'
    headers:
      Authorization:
      - XXXXXX
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/groups/8c5416d2-e4da-4f06-9849-1501363b3115
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"North Europe","Slice":"E","Ring":"4","ScaleUnit":"000","RoleInstance":"DU6PEPF00002DC1"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
