# module versions are pinned as closely as possible to then ones in UCS 5.0-2 / Debian 10

attrs==18.2.0
cryptography==38.0.1
pyJWT==1.7.0
mock==2.0.0
pyOpenSSL==22.1.0
pytest-vcr==1.0.2
pytest==3.10.1
python-dateutil==2.8.2
python-debian==0.1.47
redis==3.2.1
requests-mock==1.10.0
requests==2.21.0
retrying==1.3.3
rsa==4.0
six==1.12.0
