Source: univention-office365
Section: univention
Priority: optional
Build-Depends:
 debhelper (>> 9),
 dh-python,
 python-debian,
 python-setuptools,
 python-all,
 python3-debian,
 python3-setuptools,
 python3-all,
 python3-pytest,
 python3-mock,
 python3-requests-mock,
 python3-attr,
 python3-vcr,
 python3-six,
 python3-jwt,
 python3-rsa,
 python3-retrying,
 python3-cryptography,
 python3-dateutil,
 python3-openssl,
 python3-redis,
 univention-management-console-dev (>= 11.0.4-37),
 univention-config-dev,
 univention-l10n-dev | univention-ucs-translation-template,
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2

Package: univention-office365
Architecture: all
Depends:
 univention-group-membership-cache (>> 1.0.0-8),
 shell-univention-lib,
 univention-config,
 univention-join,
 univention-ldap-server,
 univention-saml (>= 5.0.4-23),
 python-univention-office365 (= ${binary:Version}) |  python3-univention-office365 (= ${binary:Version}),
 ${misc:Depends},
 ${python:Depends},
Description: Provision MS Office 365 accounts.
 Synchronize user accounts to Microsoft Azure Active Directory and enable
 them to use Microsoft Office 365.
Homepage: https://products.office.com/office-365-home

Package: python-univention-office365
Architecture: all
Depends:
 libapache2-mod-wsgi,
 python-cryptography (>= 1.1.1),
 python-jwt (>= 1.3.0),
 python-univention-group-membership-cache,
 python-rsa,
 python-six,
 python-attr,
 python-retrying,
 python-univention,
 python-univention-management-console (>= 11.0.4-37),
 python-univention-directory-manager (>= 14.0.14-14),
 python-univention-lib,
 ${misc:Depends},
 ${python:Depends},
Provides:
 ${python:Provides},
Description: Provision MS Office 365 accounts.
 Synchronize user accounts to Microsoft Azure Active Directory and enable
 them to use Microsoft Office 365.
Homepage: https://products.office.com/office-365-home


Package: python3-univention-office365
Architecture: all
Depends:
 libapache2-mod-wsgi-py3,
 python3-cryptography (>= 1.1.1),
 python3-jwt (>= 1.3.0),
 python3-univention-group-membership-cache,
 python3-rsa,
 python3-six,
 python3-attr,
 python3-retrying,
 python3-univention,
 python3-univention-management-console (>= 11.0.4-37),
 python3-univention-directory-manager (>= 14.0.14-14),
 python3-univention-lib,
 ${misc:Depends},
 ${python3:Depends},
Provides:
 ${python3:Provides},
Description: Provision MS Office 365 accounts.
 Synchronize user accounts to Microsoft Azure Active Directory and enable
 them to use Microsoft Office 365.
Homepage: https://products.office.com/office-365-home

Package: univention-management-console-module-office365
Architecture: all
Depends:
 univention-office365 (= ${source:Version}),
 ${python:Depends},
 ${python3:Depends},
Description: Office 365 setup wizard UMC module
Provides:
 ${python3:Provides},
 ${python:Provides},

Package: ucs-test-office365
Architecture: all
Depends:
 ucs-test-framework,
 ucs-test-libs,
 univention-office365 (= ${source:Version}),
 python-pytest-mock,
 ${misc:Depends},
 ${python:Depends},
 ${python3:Depends},
Provides:
 ucs-test-module,
Description: Additional Office 365 App tests for ucs-test
 This package includes some Office 365 App related tests for
 ucs-test.
